@import '../../../../styles.scss';

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: $color-3; 
    align-items: center;
  
    .logo {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  
    .main-nav {
      ul {
        list-style: none;
        display: flex;
        gap: 1em;
  
        li {
          a {
            color: #fff;
            text-decoration: none;
  
            &:hover {
              color: #ddd;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {

    .main-nav {
     display: none;
    }

    .main-header{
      justify-content: center;
    }
    
  }
